<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio de sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">Inicio de sesiónaa</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item class="ion-margin">
        <ion-input
          label="Usuario"
          label-placement="stacked"
          placeholder="Ingresa tu usuario"
          type="text"
          [(ngModel)]="usuario"
          minlength="3"
          maxlength="8"></ion-input>
      </ion-item>
    
      <ion-item class="ion-margin">
        <ion-input
          label="Contraseña"
          label-placement="stacked"
          type="password"
          [(ngModel)]="password"
          minlength="4"
          maxlength="8"></ion-input>
      </ion-item>
    </ion-list>

    
    <ion-button expand="block" class="ion-margin-top" (click)="login()">Ingresar</ion-button>
    <ion-button expand="block" fill="outline">Crear cuenta gratis</ion-button>
  </ion-content>
</ion-content>

