<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mi primer proyecto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mi primer proyecto</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido a mi primer proyecto</ion-card-title>
      <ion-card-subtitle>Creado en Ionic framework!</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-button [routerLink]="['/login']">Ir a inicio de sesión</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
